@layer utilities {
  .mt-4 {
    margin-top: 1rem;
  }

  .mb-2 {
    margin-bottom: 0.5rem;
  }

  .max-w-text {
    @apply max-w-[80ch];
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .p-3 {
    padding: 1rem;
  }

  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
